.form {
    background: white;
}

.popover {
    left: -145px;
    bottom: 52px;
}
/*
.subj {
    margin-left: 12px;
}
 
.to {
    font-size: 15px;
} */

.too{
    margin-left: 5px;
    font-size: 15px;
}